
@{
    ViewBag.Title = "Application Pool Management";
}

<h2>Application Pool Management  </h2>


    <div>
        <div>
            <div class="dropdownDiv">
                <select class="dropdown">
                    <option value="">Choose name</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div>
            <div class="dropdownDiv">
                <input type="text" class="inputTxt" placeholder="Enter application pool name" id="appPoolNameInput">
            </div>
            <div class="row">
                <div class="col-md-10 btnBox">
                    <button class="btn btn-info btn-lg" onclick="location.href='@Url.Action("Start", "Home")'" >Start</button>
                    <button class="btn btn btn-lg" onclick="location.href='@Url.Action("Recycle", "Home")'">Recycle</button>
                    <button class="btn btn-primary btn-lg" onclick="location.href='@Url.Action("Stop", "Home")'">Stop</button>
                </div>
            </div>

        </div>
    </div>

@section Scripts
{
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
    integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
}